<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Detail</h1>
    <table border="1">
        <tr>
            <th>ユーザー</th>
            <td><input type="text" value="{{ dto.myname }}" readonly/></td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td><input type="text" value="{{ dto.mytitle }}" readonly/></td>
        </tr>
        <tr>
            <th>内容</th>
            <td><textarea rows="10" cols="60" readonly>{{ dto.mycontent }}</textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="button" value="戻る" onclick="location.href='/'" />
                <input type="button" value="修正" onclick="location.href='/updateform/{{ dto.id }}'" />
                <input type="button" value="削除" onclick="location.href='/delete/{{ dto.id }}'" />
            </td>
        </tr>
    </table>
</body>
</html>